.chosenproducts {
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  width: 72%;
  margin-bottom: 50px;
  background: rgb(249, 168, 0);
}

/*.chosenproductsheader {
  margin: auto;
  text-align: center;
}*/

.printednames {
  width:50%;
  margin: auto;
  text-align: left;
}
