.header {
  text-align: center;
  color: rgb(39, 41, 43);
  /*margin-top: 100px;*/
  margin-bottom: 50px;
  /*background: rgb(249, 168, 0);*/
}

#largeheader {
  font-size: 50px;
}

.basketcontainer {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
}

.basket {
  text-align: center;
  margin: 0;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  border: 2px solid black;
}
