body {
  /*background: black;*/
}

.picture {
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: 25vw;
  max-width: 25vw;
}

.productbox {
  border-radius: 10px;
  background: transparent;
  width: 30%;
  margin-bottom: 55px;
}

.picturebox {
  text-align: center;
  height: 200px;
  z-index: -100;
}

.name {
  text-align: center;
  width: 100%;
}

.hoverbox {
  position: relative;
}

.hoverbox:hover .description {
  display: block;
}

.description {
  display: none;
  position: absolute;
  padding: 10px;
  padding-top: 50px;
  border-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(192,192,192,1);
  /*background: rgba(255, 255, 255, 0.8)*/
}

.information {
  border-radius: 50%;
  position: relative;
  width: 15%;
  height: 4vw;
  background: rgb(249, 168, 0);
  border: 2px solid black;
  margin: auto;
  cursor: context-menu;
  color: black;
  font-size: 30px;
}

.informationbox {
  margin-top: 170px;
}

button:focus {
    outline:none;
}

.list {
  padding-bottom: 10px;
}

.checkboxstyle {
  background-color: black;
  display: inline-block;
  width: 100%;
  height: 600px;
  cursor: pointer;
  border-radius: 10px;
  color: rgb(249, 168, 0);
}

.checkboxpick input[type=checkbox]{
  display: none;
}

.checkboxpick input[type=checkbox]:checked + .checkboxstyle {
  background-color: rgb(249, 168, 0);
  border: 3px solid black;
  color: black;
}
